.headerContainer{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  background-color: #dbd7fc;
  border-bottom: 1px solid black;
}

.imgLogo{
  width: 80px;
}

.loginAndLogoutButton{
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.loggedUser{
  position: absolute;
  bottom: 4px;
  right: 20px;
  width: 200px;
  color: #949494;
  font-size: 1rem;
  text-align: right;
  text-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}