.listSaleProductsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.listSaleProductsContainer > h2{
  width: 90%;
  max-width: 2000px;
  padding: 0px 20px;
}

.slider{
  width: 90%;
  max-width: 2000px;
  padding: 40px 180px 40px 60px;
}