.productCardStockContainer{
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 8px;
  background-color: #dbd7fc;
  border: 1px solid black;
  border-radius: 8px;
}

.productCardStockHeader{
  height: 40px;
  position: relative;
  display: flex;
  justify-columns: space-between;
  align-items: center;
}

.editDeleteContainer{
  display: flex;
  align-items: center;
  gap: 8px;
}

.buttonIcon{
  z-index: 1;
  cursor: pointer;
}

.productCardStockFormContainer{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.productCardStockFormContainer > button{
  margin-top: 20px;
  padding: 4px;
  background-color: blue;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.productCardStockQuantityContainer{
  position: absolute;
  top: 8px;
  right: 0px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

.productCardStockImgContainer{
  display: flex;
  justify-content: center;
}

.productCardStockInfoContainer{
  height: 80px;
}

.productCardStockInfoContainer > h4{
  width: 140px;
  text-wrap: wrap;
  overflow: hidden;
}

.productCardStockInteractionContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.productCardStockInteractionContainer > input{
  width: 32px;
  padding: 4px;
  text-align: center;
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.productCardStockInteractionButton{
  cursor: pointer;
}

